#cancelButton {
    position: absolute;
    background-image: url('../media/cancelButton.png');
    background-color: transparent;
    border: 0px;
    width: 48px;
    height: 48px;
}

.selectorButton {
    position: absolute;
    background-color: transparent;
    border: 0px;
    width: 48px;
    height: 48px;
}